
html {
    image-rendering: crisp-edges;
}

#Display {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.nocurse {
    cursor: none;
}

#Controls {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    padding: 0.2em 0 0 0.2em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #E600DD;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    color: #fff;
    font-family: verdana;
    text-align: center;
}

#EventScreen {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#Controls select, #Controls input {
    -webkit-app-region: no-drag;
    vertical-align: top;
}

#Controls label {
}

#Controls input {
    width: 5em;
}

#Controls:hover, #Controls.visible {
    opacity: 1;
}

#Controls:hover #EventScreen, #Controls.visible #EventScreen {
    display: none;
}

#Drag {
    float: left;
    height: 1.5em;
    margin-top: -0.1em;
}

.controlButton {
    float: right;
    height: 1.7em;
    width: 2.5em;
    margin: -0.2em 0 0 0.1em;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    -webkit-app-region: no-drag;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.controlButton:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

#Minimize {
    background-image: url('../minimize.png');
}

#Maximize {
    background-image: url('../maximize.png');
}

#Maximize.restore {
    background-image: url('../restore.png');
}

#Close {
    background-image: url('../close.png');
}

#Close:hover {
    background-color: rgba(255, 0, 0, 0.62);
}
