
body {
    text-align: center;
    font-family: verdana;
    margin: 0;
    padding: 3em 0 3em 0;
    overflow: hidden;
}

p {
    max-width: 25em;
    margin: 1em auto;
}

.dolla {
    display: inline-block;
    margin-right: 0.1em;
    padding-bottom: 0.1em;
    vertical-align: middle;
    font-size: 230%;
    color: #E600DD;
    font-family: cursive;
}

#PayArea {
    max-width: 17em;
    padding: 1em 0.5em 2em;
    margin: 2em auto;
    border: 1px solid #B6B6B6;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.21);
    position: relative;
}

#PayAmount {
    width: 5em;
    border: none;
    background-color: #E7E6E1;
    font-size: 110%;
    padding: 0.2em 0 0.1em 0.2em;
}

#PayMe, #AlreadyPaidButton {
    background-color: #E600DD;
    color: #fff;
    font-size: 115%;
    font-weight: 900;
    min-width: 1em;
    margin: 0.4em auto 1em;
    padding: 0.7em 1em;
    display: inline-block;
    cursor: pointer;
}

#EndAnnoyanceButton {
    color: #00f;
    cursor: pointer;
}

#PayFrame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

#PayFrame.active {
    display: block;
}

.overlayView.active {
    overflow: none;
}

#EndAnnoyanceCollapso {
    display: none;
    position: relative;
}

#EndAnnoyanceCollapso.active {
    display: block;
}

.throbber {
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    background-color: rgb(230, 0, 221);
    position: relative;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.throbber .spinner {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    -webkit-animation: spin 1s infinite;
    -webkit-animation-timing-function: ease;
}

.throbber .spinner .pip {
    position: absolute;
    top: 0;
    right: 42%;
    width: 16%;
    height: 16%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.66);
}

.throbber .core + .spinner {
    -webkit-animation-delay: 0.2s;
}

.throbber .spinner:last-child {
    -webkit-animation-delay: 0.4s;
}

@-webkit-keyframes throb {
    0% {
        top: 40%;
        left: 40%;
        width: 20%;
        height: 20%;
        background-color: rgba(255, 255, 255, 0.0);
    }
    40% {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.4);
    }
    60% {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.4);
    }
    100% {
        top: 40%;
        left: 40%;
        width: 20%;
        height: 20%;
        background-color: rgba(255, 255, 255, 0.0);
    }
}

.throbber .core {
    position: absolute;
    left: 50%;
    -webkit-animation: throb 1s infinite;
    -webkit-animation-timing-function: ease;
    border-radius: 50%;
}

#NetworkThrobber {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}

#NetworkThrobber.active {
    display: block;
}

#NetworkThrobber .throbber {
    width: 100px;
    height: 100px;
    left: -50px;
    top: -50px;
    opacity: 1;
    box-shadow: 0 0 100px 10px #000;
}
