
html {
    height: 100%;
    font-family: verdana;
}

body {
    height: 100%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.92);
}

#Bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 1em;
    background-color: #E600DD;
    color: #fff;
    padding: 0.2em 0 0.5em 0.4em;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.barButton {
    position: relative;
    top: -0.2em;
    height: 1.7em;
    width: 2.5em;
    float: right;
    margin: 0 0 0 0.1em;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    -webkit-app-region: no-drag;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.barButton:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

#Minimize {
    background-image: url('../minimize.png');
}

#Maximize {
    background-image: url('../maximize.png');
}
#Maximize.restore {
    background-image: url('../restore.png');
}

#Close {
    background-image: url('../close.png');
}

#Close:hover {
    background-color: rgba(255, 0, 0, 0.62);
}

#Splash {
    position: fixed;
    background-color: #fff;
    top: 1em;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../dickbutt.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#Splash.hidden {
    display: none;
}

#Info {
    opacity: 0;
    transition: opacity 0.5s ease-in;
    text-align: center;
    font-family: tahoma;
    color: #E600DD;
    position: fixed;
    text-shadow: -0.1em 0.1em 0 #000000;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.44));
}

#Info h1 {
    font-size: 600%;
    margin: 0;
}

#Info h2 {
    font-size: 300%;
    margin: -0.5em 0 0;
}

#Info img {
    height: 0.5em;
    margin-left: 0.11em;
    vertical-align: top;
}

#Info.revealed {
    opacity: 1;
}

#Lister {
    position: fixed;
    top: 1.7em;
    right: 0;
    bottom: 0;
    left: 0;
}

#Tree {
    width: 250px;
    overflow-y: scroll;
    overflow-x: auto;
    resize: horizontal;
    padding: 0 0.2em;
    float: left;
    height: 100%;
}

.directory {
    color: #6C6C6C;
    cursor: pointer;
    position: relative;
}

.directory .title {
    text-indent: 1.6em;
    padding: 0.1em 0;
    overflow: hidden;
    width: 5000px;
}

.directory.open {
    color: #E600DD;
}

.directory img {
    height: 1.4em;
    position: absolute;
    left: 0;
}

.directory .children {
    padding: 0.1em 0 0 0.75em;
    border-left: 1px solid #BEBEBE;
    display: none;
}

.directory.open > .children {
    display: block;
}

.directory.open > .children:empty {
    padding: 0.5em 0 0.5em 1em;
}

.directory.open > .children:empty:before {
    content: "empty";
    color: #A9A8A8;
    font-style: italic;
}

.directory.selected > .title {
    color: #fff;
    background-color: #E600DD;
}

.directory.dragging {
    opacity: 0.5;
}

.directory.dragover > .children {
    border-color: #E600E3;
}

.directory.dragover > .title {
    text-decoration: underline;
    color: #E600E3;
}

#Host {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

#Controls {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.2em 0.5em 0.2em;
    height: 1.4em;
    border-bottom: 1px solid #B5B5B5;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.52);
}

#Controls select, #Controls input {
    -webkit-app-region: no-drag;
    margin: 0.05em 1em 0 0.3em;
    vertical-align: top;
}

.thumbs {
    line-height: 0;
    overflow-y: scroll;
    position: absolute;
    top: 1.8em;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5em 0;
}

.thumbs .thumb {
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: top;
    padding: 1px;
}

.thumbs .bogus {
    display: none;
}

.thumb:empty {
    background-image: url('../icon.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.thumb img {
    cursor: pointer;
}

.thumb.selected {
    /* outline: 3px solid #E600E3; */
    background-color: #E600E3;
}

.thumb.selected img {
    opacity: 0.8;
}

.thumb.dragging {
    opacity: 0.5;
    background-color: transparent;
}
