
html {
    height: 100%;
    font-family: verdana;
}

body {
    height: 100%;
    margin: 0;
    background-color: #fff;
}

#Bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 3px;
    background-color: #E600DD;
    color: #fff;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.barButton {
    position: relative;
    height: 25px;
    width: 31px;
    margin: -3px 0;
    float: right;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    -webkit-app-region: no-drag;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.barButton:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

#Minimize {
    background-image: url('../minimize.png');
}

#Maximize {
    background-image: url('../maximize.png');
}
#Maximize.restore {
    background-image: url('../restore.png');
}

#Close {
    background-image: url('../close.png');
}

#Close:hover {
    background-color: rgba(255, 0, 0, 0.62);
}

#Splash {
    position: fixed;
    background-color: #fff;
    top: 1em;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../dickbutt.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#Splash.hidden {
    display: none;
}

#Info {
    opacity: 0;
    transition: opacity 0.5s ease-in;
    text-align: center;
    font-family: tahoma;
    color: #E600DD;
    position: fixed;
    text-shadow: -0.1em 0.1em 0 #000000;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.44));
}

#Info h1 {
    font-size: 600%;
    margin: 0;
}

#Info h2 {
    font-size: 300%;
    margin: -0.5em 0 0;
}

#Info img {
    height: 0.5em;
    margin-left: 0.11em;
    vertical-align: top;
}

#Info.revealed {
    opacity: 1;
}

#Lister {
    position: fixed;
    top: 1.7em;
    right: 0;
    bottom: 0;
    left: 0;
}

#ResizeBar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 5px;
    cursor: col-resize;
    z-index: 9001;
}

#Tree {
    width: 250px;
    overflow-y: scroll;
    overflow-x: auto;
    resize: horizontal;
    padding: 0 0.2em;
    float: left;
    height: 100%;
}

.directory {
    color: #6C6C6C;
    cursor: pointer;
    position: relative;
}

.directory .title {
    text-indent: 1.6em;
    padding: 0.1em 0;
    overflow: hidden;
    width: 5000px;
}

.directory.open {
    color: #E600DD;
}

.directory img {
    height: 1.4em;
    position: absolute;
    left: 0;
}

.directory .children {
    padding: 0.1em 0 0 0.75em;
    border-left: 1px solid #BEBEBE;
    display: none;
}

.directory.open > .children {
    display: block;
}

.directory.open > .children:empty {

}

.directory.open > .children:empty:before {
    content: "empty";
    color: #A9A8A8;
    font-style: italic;
}

.directory.selected > .title {
    color: #fff;
    background-color: #E600DD;
}

.directory.dragging {
    opacity: 0.5;
}

.directory.dragover > .children {
    border-color: #E600E3;
}

.directory.dragover > .title {
    text-decoration: underline;
    color: #E600E3;
}

.directory.moving {
    opacity: 0.5;
}

#Host {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

#Controls {
    padding: 0 0 0 30px;
    float: left;
}

#Controls select, #Controls input {
    -webkit-app-region: no-drag;
    vertical-align: top;
}

.thumbs {
    line-height: 0;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5em 0;
}

.thumbs .thumb {
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: top;
    padding: 1px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.thumbs .bogus {
    display: none;
}

.thumb.loading {
    background-image: url('../icon.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.thumb.video.loading {
    background-image: url('video.png');
}

.thumb img {
}

.thumb.selected {
    /* outline: 3px solid #E600E3; */
    background-color: #E600E3;
}

.thumb.selected img {
    opacity: 0.8;
}

.thumb .filename {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0px;
    height: 8px;
    left: 0;
    font-size: 12px;
    padding: 12px 0 0px 1px;
    background-color: #fff;
    text-align: left;
    width: 5000px;
}

.filename .text {
    display: inline-block;
    min-width: 150px;
    text-align: center;
}

.filename .whiteout {
    position: absolute;
    top: 0;
    left: 112px;
    bottom: 0;
    width: 40px;
    background: -webkit-linear-gradient(left, transparent, white);
}

.thumb:hover .filename, .thumb.selected .filename, .thumb.video .filename {
    display: block;
}

.thumb.dragging {
    opacity: 0.5;
    background-color: transparent;
}

#MultidragOuter {
    position: absolute;
    z-index: -1;
}

#MultidragOuter div {
    position: relative;
    top: -6px;
    left: -6px;
}

#MultidragOuter, #MultidragOuter div {
    background-color: #FFE7FE;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.73);
}

#Multidrag {
    min-width: 52px;
    padding: 0 4px;
    height: 60px;
    font-size: 48px;
    text-align: center;
}

#MultidragWhiteout {
    width: 200%;
    background-color: #fff;
}

.slideshowPlay {
    display: inline-block;
    width: 23px;
    height: 25px;
    margin: -6px 0;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease-out;
}

.slideshowPlay:hover, #SlideshowPause:hover {
    background-color: #FF62F9;
}

#SlideshowControls.playing .slideshowPlay {
    display: none;
}

#SlideshowPause {
    display: none;
    width: 46px;
    height: 25px;
    margin: -6px 0;
    cursor: pointer;
    position: relative;
}

#SlideshowPause div {
    background-color: #fff;
    width: 5px;
    height: 19px;
    position: absolute;
    top: 3px;
    left: initial;
    right: 15px;
}

#SlideshowPause div:first-child {
    left: 15px;
    right: initial;
}

#SlideshowControls.playing #SlideshowPause {
    display: inline-block;
}

#SlideshowLeft div {
    margin-top: 3px;
    margin-left: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.5px 16px 9.5px 0;
    border-color: transparent #fff transparent transparent;
}

#SlideshowRight div {
    margin-top: 3px;
    margin-left: 4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.5px 0 9.5px 16px;
    border-color: transparent transparent transparent #fff;
}

#SlideshowSeconds {
    border: none;
    outline: none;
    width: 3em;
    height: 17px;
    padding-left: 0.3em;
}
