
html {
    image-rendering: optimizeQuality;
    font-family: tahoma, sans-serif;
}

#Display {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#Dancer {
    position: fixed;
}

#Dancer img {
    width: 100%;
    height: 100%;
}

.image #ImageControls {
    display: block;
    height: 23px;
}

#VLC {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

#VLC.active {
    display: block;
}

#VideoContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

#VideoContainer canvas { }

.controlPane {
    position: relative;
    margin-top: 4px;
}

.controlPane > * {
    -webkit-app-region: no-drag;
}

#VideoControls {
    display: none;
    margin-bottom: -3px;
}

.video #VideoControls {
    display: block;
}

#PlayPause {
    width: 40px;
    height: 26px;
    cursor: pointer;
    position: relative;
    background-color: #880198;
}

#PlayButton {
    position: absolute;
    top: 5px;
    left: 15px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 13px solid #FFF;
}

#PlayPause .pause {
    display: none;
    position: absolute;
    top: 5px;
    bottom: 4px;
    width: 3px;
    background-color: #FFF;
}

#PauseButtonZero {
    left: 14px;
}

#PauseButtonOne {
    right: 14px;
}

#PlayPause.playing #PlayButton {
    display: none;

}

#PlayPause.playing .pause {
    display: block;
}

#SeekBar {
    position: absolute;
    top: 8px;
    right: 217px;
    bottom: 6px;
    left: 50px;
    background-color: #FFB2FC;
    cursor: pointer;
}

#SeekCaret {
    position: absolute;
    width: 0;
    left: 0;
}

#SeekCaret .caret {
    position: absolute;
    cursor: -webkit-grab;
    border: 6px solid #7E077A;
    width: 4px;
    height: 12px;
    top: -6px;
    left: -8px;
}

#SeekCaret .text {
    position: absolute;
    top: -3px;
    left: -3px;
    font-size: 14px;
    color: #6B0166;
    padding-left: 13px;
    z-index: 9001;
}

#SeekCaret .text.left {
    left: initial;

    right: 0;
    padding-left: 0;
    padding-right: 10px;
}

#MuteIndicator {
    position: absolute;
    top: 7px;
    right: 171px;
    height: 17px;
}

#VolumeBar {
    position: absolute;
    top: 4px;
    right: 14px;
    width: 0;
    height: 0;
    border-bottom: 19px solid #FFB2FC;
    border-left: 145px solid transparent;
    cursor: pointer;
}

#VolumeCaret {
    position: absolute;
    width: 0;
    left: 0px;
}

#VolumeCaret div {
    position: absolute;
    left: -4px;
    width: 8px;
    height: 24px;
    background-color: #64006F;
    top: -2px;
    cursor: -webkit-grab;
}

.nocurse {
    cursor: none;
}

.draggingImage {
    cursor: move;
}

#Controls {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #E600DD;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    color: #fff;
    font-family: verdana;
    text-align: center;
    padding: 3px 0;
    /* height: 19px; */
}

#EventScreen {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#Controls select, #Controls input {
    -webkit-app-region: no-drag;
    vertical-align: top;
}

#Controls label {
    line-height: 5px;
}

#Controls input {
    margin: 0;
    vertical-align: middle;
}

#Controls:hover, #Controls.visible {
    opacity: 1;
}

#Controls:hover #EventScreen, #Controls.visible #EventScreen {
    display: none;
}

#Drag {
    float: left;
    height: 22px;
    margin: -2px 0 -2px 1px;
}

.controlButton {
    float: right;
    height: 25px;
    width: 31px;
    margin: -3px 0;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    -webkit-app-region: no-drag;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.controlButton:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

#Minimize {
    background-image: url('../minimize.png');
}

#Maximize {
    background-image: url('../maximize.png');
}

#Maximize.restore {
    background-image: url('../restore.png');
}

#Close {
    background-image: url('../close.png');
}

#Close:hover {
    background-color: rgba(255, 0, 0, 0.62);
}

#ContextMenu {
    visibility: hidden;
    position: fixed;
    top: 50px;
    left: 460px;
    font-size: 16px;
    background-color: #fff;
    font-weight: 900;
    font-family: verdana;
}

#ContextMenu.active {
    visibility: visible;
}

#CX_Options_Video {
    color: #BEBEBE;
}

#CX_Options_Video.active {
    color: #000;
}

#ContextMenuKeyboardTarget {
    position: absolute;
    left: -9001px;
}

.CX_OptionList {
    display: none;
    width: 160px;
    height: 100%;
}

.CX_OptionList.active {
    display: inline-block;
}

.CX_Option {
    padding: 4px 5px;
    border-bottom: 1px solid #D5D5D5;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    background-color: #fff;
}

.CX_Option.active {
    background-color: #860281 !important;
    color: #fff !important;
}

.CX_Option.active .CX_Shortcut {
    color: #FF63F9 !important;
}

.CX_Section {
    padding: 4px 5px;
    border-bottom: 1px solid #D5D5D5;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    position: relative;
}

.CX_Section.empty {
    color: #BEBEBE;
}

.CX_Children {
    display: none;
    margin-top: 0.2em;
}

.open .CX_Children {
    display: block;
}

.CX_Detail_Area {
    display: none;
    width: 350px;
    height: 100%;
}

.CX_Detail_Area.active {
    display: inline-block;
}

#CX_Details_Time {
    min-height: 100px;
}

.active > .CX_Option:hover, .active > .CX_Section:hover {
    background-color: #FDC4FC;
}

.CX_Shortcut {
    color: #D000C8;
    font-weight: 900;
}

#CX_Options_Video .CX_Shortcut {
    color: #FF7EFA;
}

#CX_Options_Video.active .CX_Shortcut {
    color: #D000C8;
}

.mono {
    font-family: monospace;
}

.openable {
    position: absolute;
    top: 0.15em;
    right: 0.3em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.7em 0 0.7em 15px;
    border-color: transparent transparent transparent #C5C5C5;
}

.CX_Section.open > .openable {
    display: none;
}

#StartBlock {
    left: 0;
}

#EndBlock {
    right: 0;
}

#TestBlock {
    left: 15em;
    width: 1em;
}

.noplayBlock {
    background-color: #6A7488;
    height: 100%;
    position: absolute;
}

.seekHandle {
    position: absolute;
    display: none;
    cursor: -webkit-grab;
    min-height: 1.2em;
    width: 0;
}

.noplayBlock:hover .seekHandle, .noplayBlock.showHandles .seekHandle {
    display: inline-block;
}

.seekHandle div {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.seekHandle span {
    background-color: #343434;
    padding: 0.1em 0.2em;
    color: #fff;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.58);
}

.startHandle {
    bottom: -26px;
    left: 0;
}

.startHandle div {
    border-width: 21px 0 0 0.4em;
    border-color: transparent transparent transparent #343434;
    top: -22px;
    left: 0;
}

.startHandle span, #EndBlock .startHandle span {
    border-radius: 0 0.2em 0.2em 0.2em;
}

.endHandle {
    bottom: -53px;
    right: 0;
    text-align: right;
}

.endHandle div {
    border-width: 47px 0.4em 0 0;
    border-color: transparent #343434 transparent transparent;
    top: -49px;
    right: 0;
}

.endHandle span, #StartBlock .endHandle span {
    position: absolute;
    top: -2px;
    right: 0;
    border-radius: 0.2em 0 0.2em 0.2em;
}

#StartBlock .endHandle {
    right: 0;
    bottom: -26px;
}

#StartBlock .endHandle div {
    border-width: 17px 0.4em 0 0;
    top: -19px;
}

#EndBlock .startHandle {
    bottom: -26px;
    right: 100%;
}

#EndBlock .startHandle div {
    border-width: 17px 0 0 0.4em;
    border-color: transparent transparent transparent #343434;
    top: -19px;
    left: 0;
}
